services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.9.4
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: "2181"

  kafka:
    image: confluentinc/cp-kafka:7.9.4
    container_name: kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"

  redis:
    image: redis:8
    container_name: redis
    ports:
      - "6379:6379"

  mongo:
    image: mongo:8
    container_name: mongo
    ports:
      - "27017:27017"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.0.1
    container_name: es
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"

  order-service:
    build: ./order-service
    depends_on:
      - kafka
      - redis
    ports:
      - "8080:8080"

  inventory-service:
    build: ./inventory-service
    depends_on:
      - kafka
      - redis
    ports:
      - "8081:8080"

  analytics-service:
    build: ./analytics-service
    depends_on:
      - kafka
      - mongo
      - elasticsearch
    ports:
      - "8082:8080"
