services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.9.4
    container_name: zookeeper
    hostname: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: "2181"
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_ADVERTISED_HOSTNAME: zookeeper

  kafka:
    image: confluentinc/cp-kafka:7.9.4
    container_name: kafka
    hostname: kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost
    ports:
      - "9092:9092"
      - "9101:9101"

  redis:
    image: redis:8
    container_name: redis
    ports:
      - "6379:6379"

  mongo:
    image: mongo:8
    container_name: mongo
    ports:
      - "27017:27017"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.0.1
    container_name: es
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"

  order-service:
    build: ./order-service
    depends_on:
      - kafka
      - redis
    ports:
      - "8080:8080"

  inventory-service:
    build: ./inventory-service
    depends_on:
      - kafka
      - redis
    ports:
      - "8081:8080"

  analytics-service:
    build: ./analytics-service
    depends_on:
      - kafka
      - mongo
      - elasticsearch
    ports:
      - "8082:8080"
